<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Category Master
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<div class="container">
  <form>
    <label>Name</label>
    <input type="text" class="form-control" [(ngModel)]="categoryName" name="name">
    <label>Description</label>
    <textarea class="form-control">

    </textarea>
    <label>Status</label>
    <select class="form-control"> 
      <option>Active</option>
      <option>Inactive</option>
    </select>
    <br>
    <button class="btn btn-success">Save</button> &nbsp;<button class="btn btn-danger">Reset</button>
  </form>
</div>
<div class="container">
  <table></table>
</div>
{{categoryName}}

</ion-content>
